.nextArrow{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35px;
    top: 50%;
    right: -18px;
    transform: translateY(-50%);
    width: 3%;
    border: 1px solid #e0e0e2;
    border-radius: 50%;
    background-color: #fff;
    }
    
 
    
    .prevArrow{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
        top: 50%;
        /* right: -20px; */
        left: -15px;
        transform: translateY(-50%);
        width: 3%;
        border: 1px solid #e0e0e2;
        border-radius: 50%;
        background-color: #fff;
        z-index: 10000;
    }
    
    .nextsvg{
        color: black;
        display: block;
        margin: auto;
        z-index: 100000;
        opacity: 0.7;
    }